.content__button {
  border-shadow: inset 3px -10px 25px -5px #0d0304;
  border-radius: 24px;
  margin: 6%;
  opacity: 0.9;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #f70a39), color-stop(1, #ed0505));
  background: -moz-linear-gradient(center top, #f70a39 5%, #ed0505 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f70a39', endColorstr='#ed0505');
  background-color: #f70a39;
  border: 2px solid #9e1e2b;
  display: inline-block;
  color: #f2f4ff;
  height: 34px;
  line-height: 34px;
  width: 165px;
  font-size: 19px;
  font-weight: bold;
  font-style: normal;
  font-family: Comic Sans MS;
  text-indent: 3px;
  text-decoration: none;
  text-align: center; }
  .content__button:hover {
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #ed0505), color-stop(1, #f70a39));
    background: -moz-linear-gradient(center top, #ed0505 5%, #f70a39 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ed0505', endColorstr='#f70a39');
    background-color: #ed0505; }
  .content__button:active {
    position: relative;
    top: 1px; }

.game__button {
  border-shadow: inset 3px -10px 25px -5px #0d0304;
  border-radius: 41px;
  margin: 0 2%;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #fa0000), color-stop(1, #1f0707));
  background: -moz-linear-gradient(center top, #fa0000 5%, #1f0707 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fa0000', endColorstr='#1f0707');
  background-color: #fa0000;
  display: inline-block;
  color: #eb9999;
  height: 51px;
  line-height: 51px;
  width: 49px;
  font-size: 35px;
  font-weight: bold;
  font-style: normal;
  font-family: Arial;
  text-indent: -1.06px;
  text-decoration: none;
  text-align: center;
  text-shadow: 2px 3px 45px #ff0808; }
  .game__button:hover {
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #030101), color-stop(1, #ff7a7a));
    background: -moz-linear-gradient(center top, #030101 5%, #ff7a7a 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#030101', endColorstr='#ff7a7a');
    background-color: #030101; }
  .game__button:active {
    position: relative;
    top: 1px; }

.btn__pause {
  color: black;
  opacity: 0.4;
  background-color: #F0FFFF;
  border-radius: 50%;
  font-weight: bold;
  display: inline-block;
  text-decoration: none;
  text-align: center;
  -moz-box-shadow: 0px 0px 30px 3px #faf5f5;
  -webkit-box-shadow: 0px 0px 30px 3px #faf5f5;
  box-shadow: 0px 0px 30px 3px #faf5f5; }
  @media screen and (min-width: 1280px) {
    .btn__pause {
      width: 400px;
      height: 400px;
      font-size: 200px; } }
  @media screen and (min-width: 720px) {
    .btn__pause {
      width: 200px;
      height: 200px;
      font-size: 100px; } }
  @media screen and (min-width: 320px) {
    .btn__pause {
      width: 100px;
      height: 100px;
      font-size: 25px; } }
  .btn__pause:active {
    background-color: grey; }

.button__text {
  pointer-events: none;
  position: relative;
  top: 50%;
  -webkit-transform: translate(0, -50%);
  -moz-transform: translate(0, -50%);
  transform: translate(0, -50%); }

.triangle-up {
  width: 0;
  height: 0;
  border-left: 30px solid transparent;
  border-right: 30px solid transparent;
  border-bottom: 70px solid red; }

.triangle-down {
  width: 0;
  height: 0;
  border-left: 30px solid transparent;
  border-right: 30px solid transparent;
  border-top: 70px solid red; }

.triangle-left {
  width: 0;
  height: 0;
  border-top: 30px solid transparent;
  border-right: 70px solid red;
  border-bottom: 30px solid transparent; }

.triangle-right {
  width: 0;
  height: 0;
  border-top: 30px solid transparent;
  border-left: 70px solid red;
  border-bottom: 30px solid transparent; }

body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  background-color: black; }

.joystick-wrapper {
  width: 100%;
  position: relative;
  -webkit-transform: translate(0, 50%); }

.pause {
  display: inline-block; }

.medium {
  position: relative;
  left: 50%;
  display: inline-block;
  -webkit-transform: translateX(-50%); }

.position-up {
  height: 100px;
  width: 100px;
  position: relative;
  left: 50%;
  -webkit-transform: translateX(-50%) rotate(-180deg); }

.position-down {
  height: 100px;
  width: 100px;
  position: relative;
  left: 50%;
  -webkit-transform: translateX(-50%); }

.position-left {
  height: 100px;
  width: 100px;
  display: inline-block;
  -webkit-transform: rotate(90deg); }

.position-right {
  height: 100px;
  width: 100px;
  display: inline-block;
  -webkit-transform: rotate(-90deg); }

.img-size {
  max-height: 100px;
  max-width: 100px; }
