
$fonttype: Georgia, serif;

.content__button {
  @include shadow(1px 1px 50px 1px #0BFFEC);
  border-radius:24px;
  margin: 8% auto;
  opacity: 0.9;
  background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #f70a39), color-stop(1, #ed0505) );
  background:-moz-linear-gradient( center top, #f70a39 5%, #ed0505 100% );
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#f70a39', endColorstr='#ed0505');
  background-color:#f70a39;
  border:2px solid #9e1e2b;
  display:block;
  color:#f2f4ff;
  height:80px;
  line-height:80px;
  width:250px;
  font: {
    size:30px;
    weight:bold;
    style:normal;
    family:$fonttype;
  }
  text: {
    indent:3px;
    decoration:none;
    align:center;
  }
  &:hover {
    background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #ed0505), color-stop(1, #f70a39) );
    background:-moz-linear-gradient( center top, #ed0505 5%, #f70a39 100% );
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ed0505', endColorstr='#f70a39');
    background-color:#ed0505;
  }  
  &:active {
    position:relative;
    top:1px;
  }

}

.game__button {  
  @include shadow(-1px 0px 12px 5px #38c1eb);
  box-shadow: -1px 0px 12px 5px #38c1eb;
  border-radius:41px;
  margin: 0 2%;
  background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #fa0000), color-stop(1, #1f0707) );
  background:-moz-linear-gradient( center top, #fa0000 5%, #1f0707 100% );
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#fa0000', endColorstr='#1f0707');
  background-color:#fa0000;
  display:inline-block;
  color:#eb9999;
  height:45px;
  line-height:45px;
  width:70px;
  font: {
    size:20px;
    weight:bold;
    style:normal;
    family:$fonttype;
  }
  text: {
    indent:-1.06px;
    decoration:none;
    align:center;
    shadow:2px 3px 45px #ff0808;
  }
  &:hover {
    background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #030101), color-stop(1, #ff7a7a) );
    background:-moz-linear-gradient( center top, #030101 5%, #ff7a7a 100% );
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#030101', endColorstr='#ff7a7a');
    background-color:#030101;
  }
  &:active {
    position:relative;
    top:1px;
  }
}

.btn__pause {
@media screen and (min-width:1280px){
  width: 400px;
  height: 400px;
  font-size: 200px;
 }
@media screen and (min-width:720px){
  width: 200px;
  height: 200px;
  font-size: 100px;
 }
@media screen and (min-width:320px){
  width: 150px;
  height: 150px;
  font-size: 35px;
}
  color: black;
  opacity: 0.8;
  background-color: #BCEEFD;
  border-radius: 50%;
  font-weight: bold;
  display: inline-block;
  text: {
    decoration: none;
    align: center;
  }
  &:active{
    background-color: #38c1eb; 
  };
  @include shadow(0px 0px 30px 3px rgb(250, 245, 245));
}

.button__text {
  pointer-events:none;
  position: relative;
  top: 50%;
  @include transform(0, -50%); 
}


.token-button {
  margin: 20px;
  @include shadow(-1px 0px 12px 5px #38c1eb);
  background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #ffffff), color-stop(1, #4dc1eb) );
  background:-moz-linear-gradient( center top, #ffffff 5%, #4dc1eb 100% );
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#4dc1eb');
  background-color:#ffffff;
  border-radius: 18px;
  border:5px solid #4addf0;
  display:inline-block;
  color:black;
  height:70px;
  line-height:70px;
  width:90px;
  font:{
    family:Georgia;
    size:15px;
    weight:bold;
    style:normal;
  }  
  text:{
    decoration:none;
    align:center;
    shadow:8px 1px 27px #43e80c;
    indent:-3px;
  }
  &:hover{
    background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #4dc1eb), color-stop(1, #ffffff) );
    background:-moz-linear-gradient( center top, #4dc1eb 5%, #ffffff 100% );
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#4dc1eb', endColorstr='#ffffff');
    background-color:#4dc1eb;
  }
  &:active {
  position:relative;
  top:1px;
  }
}
