
$image_size: 200px;

body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  text-align: center;
  background-color: black; 
}

.token-input {
  width: 150px;
  height: 90px;
  font-size:30px;
  font-family: Georgia, serif;;
  text-align: center;
  border-radius: 25%;
  border:5px solid #4addf0;
  @include shadow(-1px 0px 12px 9px #38c1eb);
}

.token {  
  text-align: center;
  position: relative;
  top: 30%;
  @include transform(0, -50%);
}

.joystick-wrapper {
  width: 100%;
  position: relative;
  -webkit-transform: translate(0, 50%);
}

.pause {
  text-align: center;
  position: relative;
  top: 50%;
  @include transform(0, -50%);
}

.img-size {
  max-height: $image_size;
  max-width: $image_size;
}