body {
  margin: 0;
}

.content_wrapper {
  margin: 0;
}

.content {
  @include window-size(0);
  background-image: url(images/bg.jpg);
}

.content__title {
  background:{
    repeat: no-repeat;
    position: center;
  }
  @include font(70px);
}

.content__main {
  @include font(45px);
}
