
/* style for scoreboard.xml */
.scoreboard {
  color: black;
  font-weight: bold;
  text-align: center;
}

.scoreboard__table {
  color: #DCDCDC;
  margin: 20px auto;
}
.scoreboard__desk {
  border: solid;
  border: 1px, 1px, 1px, 0px;
}
